h1{
    color: #4B0082;
  }
div{
    border: black 10px solid;
    background-color: #ffe4e1;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
h3{
    text-align: left;
  }
image{
  width:50px; 
  height:75px;
  }
body{ 
  background-color: #ffe4e1;
  }

